html, body {
	padding: 0px;
	margin : 0px;
	height : 100%;
}

div.content {
	background-color: #777777;
	position        : relative;
	top             : 25%;
}

div.login-form {
	background-color: #999999;
}

div.picture-side {
	background-color: #AAAAAA;
}

div.form-side {
	background-color: #BBBBBB;
}

div.login-element {
	background-color: #DDDDDD;
}

div.login-side .login-element {
	float: right;
}

img {
	max-width : 100%;
	max-height: 100%;
}