/* High level elements */

html, body {
	padding: 0px;
	margin : 0px;
	height : 100%;
}

div.content {
	background-color: #777777;
	position        : relative;
	top             : 25%;
}

div.login-form {
	background-color: #999999;
}

div.picture-side {
	background-color: #AAAAAA;
}

div.form-side {
	background-color: #BBBBBB;
}

div.picture-side .login-element {
	float: right;
}

div.login-element {
	background-color: #DDDDDD;
}

div.login-element i {
	float: right;
	font-size: 13em;
}

div.login-element form label {
	font-family: "Nexa Light", "Verdana", "sans-serif";
	font-size  : 2em;
}

div.login-element form input {
	font-family: "Verdana", "sans-serif";
}

/* Other elements */

@font-face {
	font-family: "Nexa Light";
	src        : url("../font/nexa-light.otf");
}

img {
	max-width : 100%;
	max-height: 100%;
}