/* High level elements */

html, body {
	padding: 0px;
	margin : 0px;
	height : 100%;
}

div.content {
	/*background-color: #777777;*/
	position        : relative;
	top             : 25%;
}

div.login-form {
	/*background-color: #999999;*/
}

div.picture-side {
	/*background-color: #AAAAAA;*/
	padding: 0em;
}

div.form-side {
	/*background-color: #BBBBBB;*/
}

div.picture-side .login-element {
	float: right;
}

div.login-element {
	/*background-color: #DDDDDD;*/
}

div.login-element i {
	float    : right;
	font-size: 13em;
	color    : #444444;
}

div.login-element form label {
	font-family: "Nexa Light", "Verdana", "sans-serif";
	font-size  : 1.7em;
}

div.login-element form label span {
	font-size: 0.6em;
}

div.login-element form input {
	font-family  : "Verdana", "sans-serif";
	float        : right;
	margin-bottom: 1em;
	padding      : 0.4em;
}

div.login-element form input.button {
	width      : 49.5%;
	padding    : 0.5em;
	font-weight: normal;
}

div.login-element form input.button[type="button"] {
	margin-right: 1%;
}

/* Other elements */

@font-face {
	font-family: "Nexa Light";
	src        : url("../font/nexa-light.otf");
}

img {
	max-width : 100%;
	max-height: 100%;
}